<div>
    <h2>
        Add Task
    </h2>
    <div>
        <form #addTaskRef = "ngForm">
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput name="id" ngModel required>
            </mat-form-field>
            
            <br>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput name="name" ngModel required> 
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Task</mat-label>
                <input matInput name="task" ngModel required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>
                    Dead Line
                </mat-label>
                <input type="date" name="date" matInput ngModel required>
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" (click)="addTask(addTaskRef)">Add Task</button>
            <button mat-stroked-button color="warn" type="reset">Clear</button>
        </form>
    </div>
</div>
